.project-list {
  padding-left: 1rem;
}

.project-list-item {
  padding-bottom: 1rem;
}

.project-last-list-item {
  padding-bottom: 0;
}

.project-date {
  float: right;
  color: lightgray;
  font-style: italic;
}
